*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: all 0.2s cubic-bezier(.075, .82, .165, 1)
}

:root {
  --bg-color: #f5f5f5;
  --red: #fe0000;
}

body {
  background-color: var(--bg-color);
}

.-container {
  width: 100%;
  max-width: 1170px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

.-posrel {
  position: relative;
}

.-posabs {
  position: absolute;
}

.-inlineblock {
  display: inline-block;
}


.-vamiddle {
  vertical-align: middle;
}

.-vatop {
  vertical-align: top;
}

.-row {
  margin: 5px 0;
}

.-banner {
  margin-top: unset;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
}

.-banner .-txt {
  top: 50%;
  color: white;
  transform: translateY(-50%);
  right: 5%;
}


.-banner .-txt .-head {
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
}

.-banner .-txt .-sub {

}

.-banner img {
  width: 100%;
}

.-banner img.-desktop {
  display: block;
}

.-banner img.-mobile {
  display: none;
}

/* MKUs */

.-mku {
  text-align: left;
  width: calc(90% / 5);
  margin: calc(10% / 10);
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
}

.-mku:hover {
  color: black !important;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.12)
}

.-mku::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1;
  display: none
}

.-mku .-img {
  width: 100%;
  max-width: 210px;
  height: 9.2vw;
  max-height: 118px;
  background: url('https://firebasestorage.googleapis.com/v0/b/learn-dt.appspot.com/o/placeholder-rectangle.jpg?alt=media&token=2545a561-a995-4ff5-b870-7a15dab9cb22') no-repeat center hsl(0,0%,80%);
  background-size: contain;
  background-position: center center;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.-mku .-img .-shadow span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.5em
}

.-mku .-img img {
  width: 110%;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.-mku .-mask {
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border-bottom: solid 10px transparent;
  border-right: solid 20px transparent;
  border-top: solid 10px white;
  border-left: solid 20px white;
  z-index: 4
}

.-mku .-name,
.-mku .-desc {
}

.-mku .-details {
  padding: 10px;
  padding-bottom: unset;
}

.-mku .-details div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.-mku .-name {
  font-weight: 500;
  line-height: 1;
}

.-mku .-desc,
.-mku .-author {
  font-size: .75em
}

.-mku .-author {
  line-height: 1;
  margin-top: 5px;
  color: gray;
}

.-mku .-host {
  width: 20%;
  bottom: 0;
  right: 5px;
  transform: translateY(50%);
}

.-mku .-type {
  bottom: 5px;
  left: 5px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 3px 5px;
  line-height: 1;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 3px;
  z-index: 1;
}


.-mku .-ctas {
  padding: 5px;
}


.-mku .-ctas .-cta {
  display: inline-block;
  vertical-align: middle;
  width: calc(90% / 2);
  margin: calc(10% / 4);
  background-color: var(--red);
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .7em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  cursor: pointer;
}

.-mku .-ctas .-cta:active {
  background-color: rgba(255,0,0,0.5);
}

 .-thumbnails {
  text-align: left;
}
 .-pane {
  overflow: hidden;
  width: 30.3%;
  max-width: 355px;
  height: 100%;
  max-height: 200px;
  position: absolute;
  transform: translateX(-50%);
  top: 0%;
  left: 50%;
}

.-pane iframe,
.-pane .-exercise {
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
}

.-pane .-exercise {
  left: 100%;
}

.-pane.active iframe {
  left: -100%;
}

.-pane.active .-exercise {
  left: 0%;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .-container {
    width: 100%;
    max-width: 480px;
  }
  .-banner .-txt {
    color: white;
    right: unset;
    bottom: 0;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    line-height: 1;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
  }

  .-banner .-txt .-head {
    font-weight: 600;
    font-size: 1.7em;
    text-transform: uppercase;
  }

  .-banner img.-desktop {
    display: none;
  }

  .-banner img.-mobile {
    display: block;
  }

  .-mku .-details {
    padding-bottom: 10px;
  }

  .-mku .-img {
    max-width: unset;
    width: 100%;
    height: 26.25vw;
    max-height: 139px;
  }
  .-thumbnails,
  .-pane {
    width: 100%;
    max-width: 480px;
  } 
  .-mku {
    width: calc(95% / 2);
    margin: calc(5% / 4);
    /* max-width: 150px; */
    max-width: unset;
  }
}